fastapi
uvicorn
python-dotenv
langchain
langchain_groq
langchain-community
chromadb
sentence-transformers
pypdf
python-multipart
passlib[bcrypt]
httpx
fastapi
PyJWT
pydantic_settings
sqlalchemy
gitpython